.navbar {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;

  c-container{

     h2 {

       font-family: 'Cyberpunk';
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      cursor: pointer;
    }

    .person-icon {
      cursor: pointer !important;
    }

    .nav-about-li{
      font-size: 13px;
      cursor: pointer;
       font-weight: normal;
       font-family: 'Cyber';
     }

    @media screen and (max-width: 600px) {
      padding: 0px 10px !important;
    }
  }
}
