<nav class="navbar" >
  <c-container>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div>
        <h2 class="neon-blue-bg-txt">
          FStack
        </h2>
      </div>
      <div>
      <ng-template [ngIf]="innerWidth < sm">
        <span class="person-icon">
          <svg  [cIcon]="icons.cilHamburgerMenu" size="xxl" title="List Icon"></svg>
        </span>
      </ng-template>
      <ng-template [ngIf]="innerWidth >= sm">
        <ul class="d-flex gap-4">
          <li class="nav-about-li neon-blue-bg-txt"  *ngFor="let value of navbar">{{ value }}</li>
        </ul>
      </ng-template>
      </div>
    </div>

  </c-container>
</nav>
