<section>
  <c-row class="page">
    <c-col>
      <div class="bg-image">
        <div class="bg-image-gradient">
        </div>
      </div>
      <div class="moon-place">
        <div class="moon"></div>
        <div class="circle">
          <span style="--i:1">F</span>
          <span style="--i:2">U</span>
          <span style="--i:3">L</span>
          <span style="--i:4">L</span>
          <span style="--i:5">-</span>
          <span style="--i:6">S</span>
          <span style="--i:7">T</span>
          <span style="--i:8">A</span>
          <span style="--i:9">C</span>
          <span style="--i:10">K</span>
          <span style="--i:11">-</span>
          <span style="--i:12">D</span>
          <span style="--i:13">E</span>
          <span style="--i:14">V</span>
          <span style="--i:15">E</span>
          <span style="--i:16">L</span>
          <span style="--i:17">O</span>
          <span style="--i:18">P</span>
          <span style="--i:19">E</span>
          <span style="--i:20">R</span>
          <span style="--i:21">-</span>
        </div>
      </div>
      <div class="btn-container">
        <app-button infoText="h20">LINK START</app-button>
       </div>
    </c-col>
  </c-row>
  <c-row class="page">
    <c-col class="purple">
      <h1 class="neon-red">
      </h1>
    </c-col>
  </c-row>
  <c-row class="page">
    <app-experience-list />
  </c-row>
</section>
