<section>
  <c-row class="page ">
    <c-col>
      <div class="bg-image">
        <div class="bg-image-gradient">
        </div>
      </div>
      <div class="moon-place">
        <div class="moon"></div>
        <div class="circle">
          <span style="--i:1">F</span>
          <span style="--i:2">U</span>
          <span style="--i:3">L</span>
          <span style="--i:4">L</span>
          <span style="--i:5">-</span>
          <span style="--i:6">S</span>
          <span style="--i:7">T</span>
          <span style="--i:8">A</span>
          <span style="--i:9">C</span>
          <span style="--i:10">K</span>
          <span style="--i:11">-</span>
          <span style="--i:12">D</span>
          <span style="--i:13">E</span>
          <span style="--i:14">V</span>
          <span style="--i:15">E</span>
          <span style="--i:16">L</span>
          <span style="--i:17">O</span>
          <span style="--i:18">P</span>
          <span style="--i:19">E</span>
          <span style="--i:20">R</span>
          <span style="--i:21">-</span>
        </div>
      </div>
      <div class="btn-container">
        <app-button type="primary" infoText="h20">LINK START</app-button>
      </div>
    </c-col>
  </c-row>
  <c-row class="page light">
    <c-col class="d-flex justify-content-center">
      <c-container class="d-flex flex-column justify-content-start align-items-center h-100 pt-5 pb-5 gap-3 ">
        <div class="info">
          <h1 class="info title">
            Read About My Life Struggle Story
          </h1>
          <p class="info description">
            My motivations to study
          </p>
        </div>
        <ul class="w-100 d-flex justify-content-center gap-4 flex-wrap">
          <li *ngFor="let value of myself">
            <app-card title={{value.title}}>
              <div class="profile p-3">
                {{value.description}}
              </div>
            </app-card>
          </li>
        </ul>
        <div class="d-flex gap-4 mt-3">
          <app-button size="small">Download CV</app-button>
          <app-button size="small" type="secondary">Download CV</app-button>
        </div>
        <img  src="assets/images/hr.png" alt="hr" class="m-5"/>
        <div class="info d-flex flex-column justify-content-center text-center">
          <h1 class="info title">
            My Skills
          </h1>
          <p class="info description">
            My motivations to study qw eqw eqe qwe qw asdasda sdasdas das
          </p>
        </div>
        <c-container class="d-flex justify-content-center gap-5 flex-wrap">
          <img width="400" height="350" src="assets/images/chart.png" alt="chart" />
          <div  class=" h-100 d-flex align-items-center ">
            <ul class="tag-list d-flex gap-2 flex-wrap p-2">
              <li *ngFor="let value of tags">
                <app-tag>
                  {{value}}
                </app-tag>
              </li>
            </ul>
          </div>
        </c-container>
        <img  src="assets/images/hr.png" alt="hr" class="m-5"/>
        <div class="info d-flex flex-column justify-content-center text-center">
          <h1 class="info title">
            Projects i worked on
          </h1>
          <p class="info description">
            My motivations to study qw eqw eqe qwe qw asdasda sdasdas das
          </p>
        </div>
        <ul class="w-100 d-flex justify-content-center gap-4 flex-wrap">
          <li *ngFor="let value of myself">
            <app-card title={{value.title}}>
              <div class="profile p-3">
                {{value.description}}
              </div>
            </app-card>
          </li>
        </ul>
      </c-container>
    </c-col>
  </c-row>
  <c-row class="page dark">
    <app-experience-list />
  </c-row>
</section>
