:host {
  $position-top: 30%;
  $position-left: 70%;

  section {
    max-width: 100vw;
    overflow: hidden;
    width: 100vw;
  }

  .row {
    width: 100% !important;
     max-width: 100% !important;

  }

  .col {
    padding: 0px !important;
    margin: 0px !important;
    max-width: 100% !important;
  }

  .page {
    height: 100vh;
    overflow: hidden !important;
    max-width: 100vw !important;
  }

  .red {
    .moon-place {
      position: absolute;
      width: 200px;
      height: 200px;
      transform-style: preserve-3d;
      top: $position-top;
      left: $position-left;

      @media screen and (max-width: 600px) {
        top: 50%;
        left: 50%;
      }

      .moon {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        background-repeat: repeat-x;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px #741787;
        border-radius: 50%;
        background-image: url("../../../../assets/images/planet.jpg");
        animation: animateMoon 15s linear infinite;

        @media screen and (max-width: 600px) {
          width: 150px;
          height: 150px;
        }
      }

      @keyframes animateMoon {
        0% {
          background-position: 0 0;
        }

        100% {
          background-position: -612px 0;
        }
      }

      .circle {
        z-index: 1;
        transform-style: preserve-3d;
        animation: animateText 10s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
      }

      .circle span {
        font-family: 'Cyberpunk';
        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #bc13fe,
        0 0 45px #bc13fe,
        0 0 55px #bc13fe,
        0 0 70px #bc13fe,
        0 0 80px #bc13fe;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        font-size: 2em;
        transform-origin: center;
        transform-style: preserve-3d;
        margin: 0px !important;
        transform: rotateY(calc(var(--i) * calc(360deg / 21))) translateZ(200px);

        @media screen and (max-width: 600px) {
          transform: rotateY(calc(var(--i) * calc(360deg / 21))) translateZ(150px);
        }
      }


      @keyframes animateText {
        0% {
          transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
        }

        100% {
          transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
        }
      }
    }

    .bg-image {
      background-image: url("../../../../assets/images/background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      pointer-events: none;
      user-select: none;

      .bg-image-gradient {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, transparent, transparent, transparent, transparent, #040328);
      }
    }

  }

  .blue {
    background: transparent;
  }

  .purple {
   }



}
